@model TreatLines.Models.ProfileInfo.DoctorProfileInfoModel

@{ 
    string backInfo = Model.OnHoliday ? "bg-info" : "";
}

<section class="my-5">
    <div class="card col-md-9 border-info mx-auto">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="mt-2">User Profile</h3>
                </div>
                <div class="col-4 offset-2">
                    <a class="btn btn-secondary nav-link"
                       asp-controller="Patient"
                       asp-action="MakeAppointment"
                       asp-route-doctorEmail="@Model.Email">
                        Make appointment
                    </a>
                </div>
            </div>
        </div>
            <div class="card-body pb-2">
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Name: </label>
                    </div>
                    <div class="col-3">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="FirstName">
                    </div>
                    <div class="col-2">
                        <label>Surname: </label>
                    </div>
                    <div class="col-3">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="LastName">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-2">
                        <label>Registration date: </label>
                    </div>
                    <div class="col-4">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="RegistrationDate">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Email: </label>
                    </div>
                    <div class="col-4">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Email">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Phone number: </label>
                    </div>
                    <div class="col-3">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="PhoneNumber" />
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Date of birth: </label>
                    </div>
                    <div class="col-2">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="DateOfBirth" />
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Position: </label>
                    </div>
                    <div class="col-3 pe-0">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Position">
                    </div>
                    <div class="col-3 pe-0">
                        <label>Appointment price: </label>
                    </div>
                    <div class="col-2">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Price">
                    </div>
                </div>
                <div class="form-group row my-2 ms-1">
                    <div class="form-check">
                        <input class="form-check-input @backInfo" disabled="" type="checkbox" id="onHolidayDoc" asp-for="OnHoliday">
                        <label class="form-check-label" for="onHolidayDoc">
                            On holiday
                        </label>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-12">
                        <label>Education: </label>
                        <textarea type="text" readonly="" class="form-control-plaintext border-info p-0" asp-for="Education"></textarea>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-12">
                        <label>Experience: </label>
                        <textarea type="text" readonly="" class="form-control-plaintext border-info p-0" asp-for="Experience"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-body pt-1">
                <div class="row mb-2">
                    <h5>Schedule</h5>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Start time: </label>
                    </div>
                    <div class="col-1">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Schedule.StartTime">
                    </div>
                    <div class="col-2">
                        <label>End time: </label>
                    </div>
                    <div class="col-1">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Schedule.EndTime">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Work days: </label>
                    </div>
                    <div class="col-6">
                        @foreach (var day in Model.Schedule.WorkDays)
                        {
                            <span class="badge rounded-pill bg-info">@day</span>
                        }
                    </div>
                </div>
            </div>
    </div>
</section>