@model TreatLines.Models.ProfileInfo.HospitalProfileInfoViewModel

<section class="my-5">
    <div class="container-lg border px-5 pt-3">
        <div class="row my-2">
            <div class="col-6">
                <h4 class="mt-2 mb-4">Hospital Profile</h4>
            </div>
            <div class="col-3 offset-3">
                <a class="btn btn-secondary nav-link"
                   asp-controller="Parient"
                   asp-action="Index">
                    Back to profile
                </a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.Name">Hospital name: </label>
            </div>
            <div class="col-4">
                <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.Name">
            </div>
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.Rating">Rating: </label>
            </div>
            <div class="col-4">
                <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.Rating">
            </div>
        </div>@*class="form-control-plaintext p-0"*@
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.Type">Type: </label>
            </div>
            <div class="col-4">
                <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.Type">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.Country">Country: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.Country" readonly="" />
            </div>
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.City">City: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.City" readonly="" />
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.Address">Address: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.Address" readonly="" />
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.CreationDate">Hospital creation date: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.CreationDate" readonly="" />
            </div>
            <div class="col-2">
                <label asp-for="HospitalProfileInfo.RegisterDate">Hospital registration date: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="HospitalProfileInfo.RegisterDate" readonly="" />
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label asp-for="DoctorsCount">Doctors count: </label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control-plaintext p-0" asp-for="DoctorsCount" readonly="" />
            </div>
        </div>
        <hr />
        <div class="row mt-2">
            <h6>Contact information</h6>
            @foreach (var hospAdmin in Model.HospitalAdmins)
            {
                <div class="col-4">
                    <ul class="list-unstyled text-small">
                        <li>Email: @hospAdmin.Email</li>
                        <li>Phone: @hospAdmin.PhoneNumber</li>
                    </ul>
                </div>
            }
        </div>
        <div class="row mb-1">
            <div class="col-2 my-2">
                <a class="btn btn-secondary nav-link"
                   asp-controller="User"
                   asp-action="RegisterPatient"
                   asp-route-id="@Model.HospitalProfileInfo.Id"
                   asp-route-hospName="@Model.HospitalProfileInfo.Name">
                    Register
                </a>
            </div>
        </div>
        @*</div>*@
    </div>
</section>