@{
    ViewData["Title"] = "Home Page";
}
@model TreatLines.Models.Requests.LoginRequest

<section class="my-5">
    <div class="container border">
        <div class="col-lg-7 px-5 pt-3">
            <h5 class="mt-2 mb-4">If You have an account sign in</h5>
            <form asp-controller="User" asp-action="Login" method="post">
                <div class="form-group row my-2">
                    <div class="col-3">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-3">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-1">
                    <div class="col-3">
                        <button type="submit" class="btn btn-secondary mb-3">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="col-lg-10 px-5 pt-3">
            <div class="row">
                <h5>Don't have an account?</h5>
            </div>
            <div class="row">
                <div class="col-lg-6 pt-3">
                    <p><a asp-controller="User" asp-action="Hospitals">Choose the hospital</a> you want and join us as patient!</p>
                </div>
                <div class="col-lg-2 px-2 pt-3">
                    <p class="text-center">OR</p>
                </div>
                <div class="col-lg-4 pt-3">
                    <p>Register your hospital <a asp-controller="User" asp-action="RegisterHospital">here</a>!</p>
                </div>
            </div>
        </div>
    </div>
</section>
