
@model TreatLines.Models.Requests.RequestToCreatePatientModel

<section class="my-5">
    <div class="container border">
        <div class="col-lg-7 px-5 pt-3">
            <h4 class="mt-2 mb-4">Registration as patient</h4>
            <br />
            <p>Hospital name: @ViewData["HospitalName"]</p>
            <form asp-controller="User" asp-action="SendPatientRequest" method="post">
                @if (Model.HospitalId != 0)
                {
                    <input type="hidden" asp-for="HospitalId" />
                }
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="FirstName">Name: </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="LastName">Surname: </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="DateOfBirth">Date of birth: </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="Email">Email: </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="PhoneNumber">Phone number: </label>
                    </div>
                    <div class="col-6">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="bloodtype" class="form-label mt-4">Blood type</label>
                    <select class="form-select" id="bloodtype" asp-for="BloodType">
                        <option>O+</option>
                        <option>O-</option>
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>AB-</option>
                        <option>AB+</option>
                    </select>
                </div>
                <div class="form-group row my-2">
                    <label for="sex" class="form-label mt-4">Sex</label>
                    <select class="form-select" id="sex" asp-for="Sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group row my-1">
                    <div class="col-4">
                        <button type="submit" class="btn btn-secondary mb-3">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="col-lg-10 px-5 pt-3">
            <p>You can register your hospital <a asp-controller="User" asp-action="RegisterHospital">here</a></p>
        </div>
    </div>
</section>
