@model TreatLines.Models.Appointment.AppointmentNearestInfoModel

<form asp-controller="Doctor" asp-action="UpsertPrescription" method="post">
    <div class="card-body">
        <div class="form-group row my-2">
            <h4>Appointment</h4>
            <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="DateTime" />
        </div>
        <div class="form-group row my-2">
            <p class="text-info">Prescription: </p>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
        </div>
        <div class="form-group col-4 my-1">
            <button type="submit" class="btn btn-secondary mb-3">Save changes</button>
        </div>
    </div>
</form>