@model TreatLines.Models.Appointment.AppointmentCreationModel

<section class="my-5">
    <div class="row">
        <div class="col-8">
            @foreach (var dateTime in Model.FreeDatesTime)
            {
            <div class="row mt-1">
                <h5>@dateTime.Date</h5>
                @foreach (var time in dateTime.Times)
                {
                    <button id="btnDateTimeAppDoc"
                            type="button"
                            class="btn btn-outline-secondary m-1"
                            style="width: 70px">
                        @time
                    </button>
                }
            </div>
            }
        </div>
        <div class="col-4">
            <form asp-controller="HospitalAdmin" asp-action="MakeAppointment" method="post">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    @*<div class="card-header">
                        <h6 id="dateTimeAppoint">@Model.DateTimeAppointment</h6>*@
                        @if (Model.DateTimeAppointment != null)
                        {
                            <input id="dateTimeAppInput" type="hidden" asp-for="DateTimeAppointment" />
                        }
                    @*</div>*@
                    <div class="card-body">
                        @if (Model.DoctorEmail != null)
                        {
                            <input type="hidden" asp-for="DoctorEmail" />
                        }
                        <div class="form-group">
                            <label for="selectPatient" class="form-label mt-4">Patient email</label>
                            <select class="form-select" id="selectPatient" asp-for="PatientEmail">
                                @foreach (var email in Model.PatientsEmails)
                                {
                                    <option value="@email">email</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-danger">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>