@model TreatLines.Models.Appointment.AppointmentCreationModel

<section class="my-5 mx-5">
    <div class="row">
        <div class="col-6 ms-auto">
            @if (Model.FreeDatesTime.Count() == 0)
            {
                <div class="row mt-1">
                    <h4 class="text-danger">Doctor is on holiday</h4>
                </div>
            }
            else
            {
                foreach (var dateTime in Model.FreeDatesTime)
                {
                    <div class="row mt-1">
                        <h5>@dateTime.Date</h5>
                        @foreach (var time in dateTime.Times)
                        {
                            var tempId = dateTime.Date + time;
                            <button id="@tempId"
                                    type="button"
                                    class="btn btn-outline-secondary AppDateTimeDoc m-1"
                                    style="width: 70px">
                                @time
                            </button>
                        }
                    </div>
                }
            }
        </div>
        <div class="col-4 me-auto">
            <form asp-controller="Doctor" asp-action="AddAppointment" method="post">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <input id="dateTimeAppDocInput" type="text" readonly="" class="form-control-plaintext" asp-for="DateTimeAppointment"/>
                        @if (Model.DoctorEmail != null)
                        {
                            <input type="hidden" asp-for="DoctorEmail" />
                        }
                        <div class="form-group">
                            <label for="selectPatient" class="form-label">Patient email</label>
                            <select class="form-select" id="selectPatient" asp-for="PatientEmail">
                                @foreach (var email in Model.PatientsEmails)
                                {
                                    <option value="@email">@email</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-danger">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>