@model TreatLines.Models.ScheduleInfoModel

<form asp-controller="HospitalAdmin" asp-action="ChangeSchedule" method="post">
    <div class="card-body">
        <div class="row my-2">
            <div class="col-6">
                <h5 class="mt-2 mb-4">Schedule</h5>
            </div>
        </div>
        @if (Model.DoctorEmail != null)
        {
            <input type="hidden" asp-for="DoctorEmail" />
        }
        <div class="form-group row my-2">
            <div class="col-2">
                <label>Start time: </label>
            </div>
            <div class="col-3">
                <input class="form-control p-0" asp-for="StartTime">
            </div>
            <div class="col-2">
                <label>End time: </label>
            </div>
            <div class="col-3">
                <input class="form-control p-0" asp-for="EndTime">
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-2">
                <label>Work days: </label>
            </div>
            <div class="col-6">
                <select id="workDays" multiple="multiple">
                    @foreach (var item in Model.WorkDays)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-4 my-1">
            <button type="submit" class="btn btn-secondary mb-3">Save changes</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#workDays").multiselect({
            includeSelectAllOptions: true
        });
    });
</script>