@model TreatLines.Models.Auth.PatientRegistrationModel

<section class="my-5">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            <h4 class="text-center">Adding new patient</h4>
        </div>
        <div class="card-body">
            <form asp-controller="HospitalAdmin" asp-action="AddPatient" method="post">
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label asp-for="FirstName">First name: </label>
                    </div>
                    <div class="col-4">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label asp-for="LastName">Last name: </label>
                    </div>
                    <div class="col-2">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label asp-for="Email">Email: </label>
                    </div>
                    <div class="col-4">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label asp-for="PhoneNumber">Phone number: </label>
                    </div>
                    <div class="col-4">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-3 my-2">
                        <label for="bloodtype" class="form-label mt-4">Blood type</label>
                        <select class="form-select" id="bloodtype" asp-for="BloodType">
                            <option>O+</option>
                            <option>O-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB-</option>
                            <option>AB+</option>
                        </select>
                </div>
                <div class="form-group col-3 my-2">
                    <label for="sex" class="form-label mt-4">Sex</label>
                    <select class="form-select" id="sex" asp-for="Sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-3 my-1">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-dark">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
